/*Globalne*/

@font-face {
  font-family: "Amatic";
  src: url("font/AmaticSC-Regular.ttf") format("truetype"), url("font/Amatic-Bold.ttf") format("truetype");
}

body {
  background: #fff;
}

a,
p {
  font-family: 'Raleway', sans-serif;
  font-weight: 400;
}

a {
  text-decoration: none !important;
}

p {
  font-size: 1.1em;
}

.amatic {
  font-family: "Amatic" !important;
}

.raleway {
  font-family: 'Raleway', sans-serif !important;
}

.center-text {
  text-align: center !important;
}

.right-text {
  text-align: right !important;
}

.font-blue {
  color: #0067B4 !important;
}

.font-red {
  color: #f8504f !important;
}

.font-green {
  color: #bade86 !important;
}

.font-white {
  color: #fff !important;
}

.text-upper {
  text-transform: uppercase !important;
}

.font-bold {
  font-weight: 700 !important;
}

.underline-bottom {
  border-bottom: 1px solid #fff !important;
}

.word-break {
  word-break: break-word;
  white-space: pre-wrap;
  white-space: -moz-pre-wrap;
  white-space: -pre-wrap;
  white-space: -o-pre-wrap;
  word-wrap: break-word;
}

.size-five {
  font-size: 5.5em;
}

.size-four {
  font-size: 3.8em;
}

.size-third {
  font-size: 3.5em;
}

.size-two {
  font-size: 2em;
}

.size-two-new {
  font-size: 1.8em;
}

.size-one {
  font-size: 1.4em;
}

.entry-container {
  padding-top: 0;
}

.entry-content {
  margin-top: 0;
}

.hide-row {
  display: none;
}

.marginZero {
  margin-bottom: 0 !important;
}


/*Menu*/

#top-bar {
  background-color: #eee;
  height: 30px;
}

#container-logo {
  width: 200px;
}

#logo {
  background-color: #547dbf;
  top: -30px;
  height: 145px;
  position: absolute;
}

#menu-menu-1 {
  padding: 15px 0;
  float: right !important;
}

#menu-page {
  margin-bottom: 0;
  background-color: #fff;
}

#menu-page li>a {
  color: #547dbf;
  font-weight: 700;
}

.menu-donate a {
  background-color: #f8504f;
  color: #fff !important;
  border-radius: 10px !important;
  font-family: "Amatic";
  font-size: 2em;
  padding-left: 40px !important;
  padding-right: 20px !important;
  border: 1px solid #f8504f;
}

.menu-donate a:after {}

.menu-donate a:hover {
  color: #f8504f !important;
  background-color: #fff;
  border: 1px solid #f8504f;
}


/*Slider*/

.slider-text {
  font-size: 42px;
  font-weight: 700;
  line-height: 49px;
  word-break: break-word;
  white-space: pre-wrap;
  white-space: -moz-pre-wrap;
  white-space: -pre-wrap;
  white-space: -o-pre-wrap;
  word-wrap: break-word;
}

.slider-button button {
  color: #fff !important;
  font-family: "Amatic";
  font-size: 3em !important;
  background-color: #f8504f !important;
  border-radius: 10px !important;
  display: block !important;
  margin: 0 auto !important;
  text-align: center !important;
  width: 80% !important;
  font-weight: 800 !important;
  border: 2px solid #f8504f !important;
}

.slider-button .vc_btn3-icon.fa.fa-heart-o {
  font-size: 1em !important;
}

.slider-button button:hover {
  color: #f8504f !important;
  background-color: #fff !important;
}

.bottom-slider {
  position: absolute !important;
  bottom: 0 !important;
  left: 0 !important;
}

.bottom-button-slider button {
  color: #fff !important;
  background-color: #bade86 !important;
  border-radius: 10px !important;
  display: block !important;
  margin: 0 auto !important;
  text-align: center !important;
  width: 60% !important;
  font-weight: 400 !important;
  border: 2px solid #bade86 !important;
  margin-top: -15px !important;
}

.bottom-button-slider button:hover {
  color: #bade86 !important;
  background-color: #fff !important;
}


/*Zielona sekcja*/

#fmission {
  z-index: 1;
}

.wrapper-blue {
  top: -200px;
  z-index: 1;
}

.blue-container:after {
  display: block;
  content: "";
  width: 100px;
  height: 100px;
  background: transparent url('http://www.fundacjaprzyjaciol.org/wp-content/uploads/2017/10/Kształt-13.png') no-repeat;
  position: absolute;
  top: -50px;
  left: 80px;
}

.blue-container:before {
  display: block;
  content: "";
  width: 120px;
  height: 100px;
  background: transparent url('http://www.fundacjaprzyjaciol.org/wp-content/uploads/2017/10/Kształt-12.png') no-repeat;
  position: absolute;
  top: -50px;
  right: 80px;
}

.green-effect {
  align-items: stretch !important;
  position: absolute !important;
  bottom: -26px !important;
  left: 0 !important;
  z-index: 1;
}


/*Aktualności*/

.up-grey-effect {
  align-items: stretch !important;
  position: absolute !important;
  top: -26px !important;
  left: 0 !important;
  z-index: 1;
}

.vc_gitem_row .vc_gitem-col {
  background-color: #ececec;
  text-align: center;
}

.vc_btn3.vc_btn3-color-juicy-pink,
.vc_btn3.vc_btn3-color-juicy-pink.vc_btn3-style-flat {
  background-color: #547dbf !important;
  text-transform: uppercase;
  margin: 0 auto;
  display: block;
  width: 100%;
  font-size: 18px !important;
  border-radius: 10px !important;
}

.vc_custom_heading.vc_gitem-post-data.vc_gitem-post-data-source-post_title {
  display: none;
}


/*newsletter*/

#fld_2188278Caption {
  margin-left: 20px !important;
  margin-top: 35px !important;
  margin-bottom: 35px !important;
  line-height: 15px;
  color: #b8c2c3;
  font-weight: 100;
}

#fld_2188278_1-wrap .checkbox-inline {
  float: left !important;
}

#fld_3478316_1 {
  width: 50%;
  margin: 0 auto;
  display: block;
  font-size: 22px !important;
  border-radius: 10px !important;
  background-color: #547dbf !important;
  text-transform: uppercase;
  color: #fff;
  padding: 10px;
  font-weight: 100 !important;
}

.form-control {
  border: 3px solid #b8c2c3 !important;
  border-radius: 7px !important;
  padding: 20px !important;
}


/*foorter*/

.under-footer {
  position: absolute !important;
  margin-top: -65px;
  left: 0 !important;
  z-index: 1;
  padding-top: 13px !important;
  padding-bottom: 13px !important;
  background-image: url(http://www.fundacjaprzyjaciol.org/wp-content/uploads/2017/10/pasekniebieskislider.png) !important;
  background-position: center !important;
  background-repeat: no-repeat !important;
  background-size: cover !important;
}

#colophon {
  background-color: #547dbf !important;
}

#colophon .second {
  width: 100%;
  height: 25px;
}

#colophon .second a {
  display: inline-block;
  text-align: center;
  margin: 0 22px;
}

.footer-menu {
  height: 100%;
  display: block;
  width: 70%;
  margin: 0 auto;
}

.footer-information {
  width: 90%;
  margin: 0 auto;
  display: block;
}

.footer-information div {
  display: inline-block;
  margin: 0 20px;
  text-align: center;
  width: 25%;
}

.footer-information div:first-child {
  border-right: 1px solid #fff;
}

.footer-information div p {
  margin-bottom: 0;
  font-size: 16px;
}

.fa.fa-facebook-official,
.fa.fa-instagram {
  font-size: 22px;
  margin: 0 10px;
}


/*Strona dotycząca donate*/

.general-button-donate button {
  color: #f8504f !important;
  font-size: 4em !important;
  font-family: "Amatic" !important;
  border-radius: 10px !important;
  font-weight: 700 !important;
}

.general-button-donate button i {
  font-size: 1em !important;
}

.general-button-donate .vc_btn3.vc_btn3-size-lg.vc_btn3-icon-left:not(.vc_btn3-o-empty) {
  padding-left: 100px !important;
}


/*BUTTONY DO SCROLLOWANIA ORAZ WYKONYWANIA INNYCH AKCJI*/

.button-scroll {
  text-align: center;
  display: block;
  background: #0067B4;
  color: #fff;
  border-bottom: 0;
  font-size: 4em;
  border-radius;
  width: 80%;
  margin: 0 auto;
  /*    font-family: "Amatic" !important;
*/
  border-radius: 10px !important;
  -webkit-transition: all 0.4s ease-in-out;
  -moz-transition: all 0.4s ease-in-out;
  -o-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
  border: 2px solid #0067B4 !important;
}

.button-scroll:hover {
  background-color: #fff !important;
  color: #0067B4 !important;
  border: 2px solid #0067B4 !important;
}

.button-download {
  text-align: center;
  display: block;
  background: #0067B4;
  color: #fff;
  border-bottom: 0;
  font-size: 2.5em;
  border-radius;
  width: 80%;
  margin: 0 auto;
  font-family: "Amatic" !important;
  border-radius: 10px !important;
  -webkit-transition: all 0.4s ease-in-out;
  -moz-transition: all 0.4s ease-in-out;
  -o-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
  border: 2px solid #0067B4 !important;
}

.button-download:hover {
  background-color: #fff !important;
  color: #0067B4 !important;
  border: 2px solid #0067B4 !important;
}

.button-fade {
  text-align: center;
  display: block;
  background: #0067B4;
  color: #fff;
  border-bottom: 0;
  font-size: 2em;
  border-radius;
  width: 80%;
  margin: 0 auto;
  border-radius: 10px !important;
  -webkit-transition: all 0.4s ease-in-out;
  -moz-transition: all 0.4s ease-in-out;
  -o-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
  border: 2px solid #0067B4 !important;
}

.button-fade:hover {
  background-color: #fff !important;
  color: #0067B4 !important;
  border: 2px solid #0067B4 !important;
}

.new-bottom {
  bottom: -75px !important;
}

.bottom-zero {
  bottom: 0px !important;
}


/* Style dla listy*/

ul#customList {
  list-style-type: none;
  margin-left: 0;
  padding-left: 10px;
}

ul#customList li {
  margin-bottom: 15px;
  text-indent: -17px;
}

ul#customList li:before {
  content: "•";
  margin-right: 10px;
  font-weight: bold;
  color: #bade86;
  font-size: 18px;
}

.krs-text-one {
  font-family: 'Raleway', sans-serif !important;
  border: 1px solid;
  padding: 0 10px;
  font-size: 22px;
  position: relative;
  top: -4px;
  border-top-left-radius: 8px;
  border-bottom-left-radius: 8px;
}

.krs-text-two {
  font-family: 'Raleway', sans-serif !important;
  border: 1px solid;
  padding: 0 10px;
  font-size: 22px;
  position: relative;
  top: -4px;
  border-left: 0 !important;
  border-top-right-radius: 8px;
  border-bottom-right-radius: 8px;
}

ul#heartlist {
  list-style: none;
  padding: 0;
}

ul#heartlist li {
  padding-left: 0.5em;
  color: #fff;
  line-height: 35px;
  font-size: 1.3em;
  font-weight: 400 !important;
}

ul#heartlist li:before {
  content: "\f004";
  /* FontAwesome Unicode */
  font-family: FontAwesome;
  display: inline-block;
  margin-left: -1.9em;
  /* same as padding-left set on li */
  width: 1.3em;
  /* same as padding-left set on li */
  margin-right: 2.3em;
  color: #bade86 !important;
}

.text-to-heart:after {
  content: "\f004";
  /* FontAwesome Unicode */
  font-family: FontAwesome;
  display: inline-block;
  width: 1.3em;
  /* same as padding-left set on li */
  color: #bade86 !important;
}


/*style Piotra Be*/

h3 {
  margin border-top: 0;
  padding-bottom: 0;
}

.board-members {
  line-height: 0.1em;
}

.history-text span {
  color: #00ff00;
}

.font-timeline {
  font-size: 3em;
}

.whoweare-row {
  background: radial-gradient (white, black);
}

.governance-row {
  background-color: #547dbf;
  overflow: visible;
}

.gov-text {
  color: #fff;
}

.vc_round-chart-canvas {
  width: 180px !important;
  height: 180px !important;
  padding-top: 10px;
  padding-bottom: 10px;
  /*margin-left: 40%;*/
}

.diagram {
  /*height: 300px;*/
}

.vc_chart-with-legend {
  width: 45% !important;
}

.vc_chart-legend li {
  line-height: 2.5em !important;
}

.vc_chart-legend span {
  margin-right: 2.5em !important;
}

.general-button-donate-white {
  text-align: center;
}

.general-button-donate-white a {
  color: #fff !important;
  font-size: 4em !important;
  font-family: "Amatic" !important;
  border-radius: 10px !important;
  font-weight: 500 !important;
  border-style: solid;
  /*width: 40%;*/
  background: transparent !important;
  display: inline-block;
  padding: 0` 16px;
  line-height: 1;
}


/*wykres*/

.circle-chart {
  text-align: center;
}


/*legenda do wykresu*/

.square-list-general {
  list-style: none;
  display: inline-block;
  line-height: 2.5;
}

.square-list-wrapper {
  list-style-type: none;
  display: inline-block;
}

.square-list {
  width: 10px;
  height: 10px;
  display: inline-block;
  margin-right: 20px;
}

.square-list-general li p {
  display: inline-block;
}

.purple-list {
  background: #DB7AFF;
}

.green-list {
  background: #B7CE30;
}

.blue-list {
  background: #B6DCFF;
}

.pink-list {
  background: #FA7DC5;
}


/*dane teleadresowe -kontakt*/

.address-list {
  padding: 0 0;
  margin: 0 0;
  list-style: none;
}


/*formularz kontaktowy na stornie contact*/

.contact-form {}

#fld_8768091_1-wrap {
  padding-bottom: 20px !important;
}

.button-form {
  text-align: center;
  display: inline-block;
  background: #0067B4;
  color: #fff;
  border-bottom: 0;
  font-size: 2.2em !important;
  border-radius;
  text-align: center;
  margin: 0 auto;
  padding: 0 100px;
  text-transform: uppercase;
  font-family: "raleway" !important;
  border-radius: 10px !important;
  -webkit-transition: all 0.4s ease-in-out;
  -moz-transition: all 0.4s ease-in-out;
  -o-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
  border: 4px solid #0067B4 !important;
}


}
.form-group {
  padding-top: 10px !important;
  margin-top: 30px !important;
}
#fld_7908577_1-wrap {
  text-align: center;
  padding-top: 20px;
}

/*.map-wrapper {*/

/*	width: 100%;
	padding: 0 0;
	margin: 0 0;*/

/*}*/

/*.vc_row.wpb_row.vc_row-fluid.map-wrapper.vc_custom_1509545355900.vc_row-has-fill{*/

/*padding: 0 0 !important;
margin: 0 0 !important;*/

/*}*/